body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #000;
}

header {
    background-color: #e7e726;
    color: #000;
    padding: 2em 0;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 0;
    text-align: center;
}

#home {
    background: #ddd;
    color: #000;
    padding-top: 0;
}

#about {
    background: #ccc;
    color: #000;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

#skills {
    background: #eee;
    color: #000;
    padding-top: 1em;
    padding-bottom: 1em;
}

#experience {
    background: #ccc;
    color: #000;
    padding-top: 1em;
    padding-bottom: 2em;
}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.experience-item {
    border: 1px solid #000;
    padding: 1em;
    width: 35%; /* Adjusted width to make the boxes smaller */
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

h1, h2, h3 {
    margin: 0.5em 0;
}

.portfolio-item {
    border: 1px solid #000;
    margin: 1em;
    padding: 1em;
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
    color: #000;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

form button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

form button:hover {
    background-color: #333;
}

footer {
    background-color: #e7e726;
    color: #000;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.7em 1.5em;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

